.box1 {
  background-color: red;
  height: 50px;
  width: 50px;
}
.box2 {
  background-color: blue;
  height: 50px;
  width: 50px;
}
.box3 {
  background-color: yellow;
  height: 100px;
  width: 100px;
}
.box4 {
  background-color: orange;
  height: 50px;
  width: 50px;
}
